$primary: #07944b;
$secondary: #8bc7f2;
$acsend: #2e66f6;
$grey: #f4f5f5;

$background: #f3f3f3;
$light-background: #f9fafc;

$black: #000;
$white: #fff;
$text: #79868e;


// $border: #f6f7f8;
$border: #d9dee27a;
$warning-color: #b69329;
$error-color: #c43d4b;


$gradient: linear-gradient(180deg, #3ADB88 0%, #27BB6E 51.56%, #09AC58 100%);
$gradient-card: linear-gradient(180deg, #9ff5c7 0%, #53e394 51.56%, #5ce49e 100%);



$font-family_1: 'FontAwesome';
$background-color_1: #ccc;