.company_wrapper {
    padding-block: 5rem;

    .d-flex {
        margin-bottom: 5rem;
        justify-content: space-between;

        .btn_style {
            padding: 1.4rem 2rem;

            img {
                width: 2rem;
                filter: invert(1);
            }
        }
    }

    .table_img_div {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 1rem;

        img {
            border-radius: 2rem;
        }
    }
}


.addCompany_wrapper {
    padding-block: 5rem;
    background: linear-gradient(179deg, #f1fff8, transparent, transparent, transparent, transparent);

    .form_wrapper {
        margin-top: 5rem;
    }

    .button_flex {
        justify-content: flex-end !important;
    }

}

.addcompany__wrapper {
    border-radius: 1rem;
    overflow: hidden;
    border: 2px solid $border;

    table {
        margin: 0;
        font-size: 1.4rem;

        th,
        td {
            padding: 1.5rem 2rem;
            border-top: none;
            vertical-align: middle;
        }

        tbody tr {
            border-top: 2px solid $border;
        }

        thead {
            background: #f9fafc;

            th {
                border: none;
                color: $text;

                &:last-child {
                    text-align: left;
                }
            }
        }

        tr {
            td {
                text-transform: capitalize;

                &:last-child {
                    text-align: left;
                }
            }
        }

        // action dropdown
        .action--dropdown {
            button {
                display: flex;
                align-items: center;
                gap: 1.5rem;
                background: none;
                border: none;

                img {
                    width: 1.6rem;
                    opacity: .5;
                }


                &::after {
                    display: none;
                }
            }

            .dropdown-menu {
                border-radius: .6rem;
                top: 1.5rem !important;

                a {
                    color: rgb(88, 88, 88);
                    font-size: 1.6rem;
                    font-weight: 600;
                    padding-block: 1rem;
                }
            }
        }

    }
}

