.jobPost__wrapper {
    padding-block: 4rem;

    .d-flex {
        margin-block: 3rem;
        justify-content: space-between;

        .btn_style {
            padding: 1.4rem 2rem;
            color: white;

            img {
                width: 2rem;
                filter: invert(1);
            }
        }
    }

    .search_wrap{
        display: flex;
        align-items: center;
        gap: 1.5rem;
        border: 2px solid $border;
        border-radius: .6rem;
        padding: 0 2rem;
        img{
            width: 1.6rem;
            opacity: .5;
        }
        input{
            height: 5rem;
            border: none;
            font-weight: 500;
            width: 25rem;
            &::placeholder{
                color: $text;
            }
        }
    }
}