.report-wrapper {
    padding: 3rem;

    .general_filter {
        margin-top: 5rem;
        margin-right: 3rem;
        
        .general-filters-cont {
            display: flex;
            justify-content: start;
            border-bottom: 1px solid $border;
        }

        .input_grp {
            margin-bottom: 1.5rem;
        }

        h3 {
            gap: 1rem;
            padding: 1.5rem;
            margin: 0;
        }

        ul {
            margin: 0;
        }

        .filter-search-input {
            padding-top: 2rem;
            border-bottom: 1px solid $border;

            .input_grp {
                margin-bottom: 2rem !important;
                margin-left: 2rem;
                

                .radio-container {
                    margin-top: 3rem;

                    .radio {
                        margin: 0.5rem;
                        input[type="radio"] {
                          position: absolute;
                          opacity: 0;
                          + .radio-label {
                            &:before {
                              content: '';
                              background: $background;
                              border-radius: 100%;
                              border: 1px solid darken($background, 25%);
                              display: inline-block;
                              width: 1.4em;
                              height: 1.4em;
                              position: relative;
                              top: -0.2em;
                              margin-right: 1em; 
                              vertical-align: top;
                              cursor: pointer;
                              text-align: center;
                              transition: all 250ms ease;
                            }
                          }
                          &:checked {
                            + .radio-label {
                              &:before {
                                background-color: $primary;
                                box-shadow: inset 0 0 0 4px $background;
                              }
                            }
                          }
                          &:focus {
                            + .radio-label {
                              &:before {
                                outline: none;
                                border-color: $primary;
                              }
                            }
                          }
                          + .radio-label {
                            &:empty {
                              &:before {
                                margin-right: 0;
                              }
                            }
                          }
                        }
                      }
                }
                
            }
        }

        .filter-search {
            padding-top: 2rem;
            border-bottom: 1px solid $border;

            .search_wrap {
                display: flex;
                align-items: center;
                gap: 1.5rem;
                border: 2px solid $border;
                border-radius: .6rem;
                padding: 0 2rem;
                margin-bottom: 2rem;
                width: 100%;
    
                img {
                    width: 1.6rem;
                    opacity: .5;
                }
    
                input {
                    height: 4rem;
                    border: none;
                    font-weight: 500;
                    width: 25rem;
    
                    &::placeholder {
                        color: $text;
                    }
                }
            }
        }

        span {
            font-weight: 500;
            font-size: 1.5rem;
            color: $black;
        }
       
    }

    .reports-table-cont{
        margin-top: 5rem;
    }
}